header {
  width: 98%; }
  header img {
    width: 20rem;
    height: auto; }
  header .main-logo {
    width: 200px; }
    @media screen and (min-width: 588px) {
      header .main-logo {
        width: 25rem; } }
  header input {
    border-radius: 3px;
    border: 1px solid #E0E1FF;
    background-color: #28282E;
    padding: .5rem;
    caret-color: #f57722; }
  header button {
    background-color: #28282E;
    border: none;
    padding: .5rem; }
  header i {
    color: #E0E1FF; }
    header i:hover {
      -webkit-transition: color .5s ease-out;
      transition: color .5s ease-out;
      color: #f57722; }

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #E0E1FF; }

nav {
  width: 98%;
  background-color: #28282E;
  padding: .3rem;
  -webkit-box-shadow: 0 3px 3px 0 gray;
          box-shadow: 0 3px 3px 0 gray; }
  nav ul {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    padding: .3rem;
    margin: 0; }
    @media screen and (min-width: 588px) {
      nav ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 1rem; } }
    nav ul li {
      -ms-flex-item-align: center;
          align-self: center;
      margin: .3rem 0;
      padding: 0 1rem; }
      nav ul li a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #E0E1FF; }
        nav ul li a:hover {
          -webkit-transition: color .5s ease-out;
          transition: color .5s ease-out;
          color: #f57722; }

h1 {
  font-family: "Open Sans", sans-serif;
  margin: 2% 1rem 0 8%;
  padding: 0 0 0 2%;
  color: #28282E;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #00784b, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#00784b), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, #00784b, rgba(0, 0, 0, 0)) 1 100%;
  border-right-style: hidden; }

h2 {
  font-family: "Open Sans", sans-serif;
  margin: 2% 0 1rem 8%;
  padding: 0 0 0 2%;
  color: #28282E;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #263995, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#263995), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, #263995, rgba(0, 0, 0, 0)) 1 100%;
  border-right-style: hidden; }

h3 {
  font-family: "Open Sans", sans-serif;
  margin: 2% 0 0 8%;
  padding: 0 0 0 2%;
  color: #28282E;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #981c1e, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#981c1e), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, #981c1e, rgba(0, 0, 0, 0)) 1 100%;
  border-right-style: hidden; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 98%; }
  section p {
    margin: 0 15% 15% 0;
    padding: 0 0 0 10%; }
  section .vid-holder {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 2rem 0 2rem 0; }
    section .vid-holder iframe {
      border-radius: 5px; }
      @media screen and (min-width: 588px) {
        section .vid-holder iframe {
          width: 560px;
          height: 315px; } }
  section .news-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 1rem;
    padding: .5rem; }
    section .news-area .news-banner {
      width: 90%;
      height: auto;
      -ms-flex-item-align: center;
          align-self: center;
      border-radius: 5px; }
      @media screen and (min-width: 588px) {
        section .news-area .news-banner {
          width: 35rem;
          height: auto; } }

.energy-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10%;
  width: 60%; }

.energy-image {
  display: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1rem 0;
  border-radius: 5px; }
  @media screen and (min-width: 588px) {
    .energy-image {
      display: block;
      width: 30%; } }

.strat-research-list {
  padding: 0 0 0 10%;
  list-style-type: none; }
  .strat-research-list li {
    margin: .6rem 0;
    padding-left: .5rem;
    color: #28282E; }
    .strat-research-list li:hover {
      color: #f57722; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10% 0 0 0; }
  @media screen and (min-width: 588px) {
    .contact-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      width: 50%; } }

.contact-block {
  margin: 0 0 2rem 0; }
  .contact-block img {
    padding: 1rem;
    border-radius: 5px; }

footer {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  footer .social-block {
    width: 98%;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem; }
    footer .social-block .facebook-block {
      margin: 0;
      padding: 0; }
  footer .newsletter-block {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem; }
    footer .newsletter-block p {
      margin-bottom: .3rem; }
    footer .newsletter-block form input {
      border-radius: 3px;
      border: 1px solid gray;
      padding: 3px; }
    footer .newsletter-block form button {
      border-radius: 3px;
      border: 1px solid gray;
      padding: 3px 7px; }
  footer .copyright-info {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: .5rem; }
    @media screen and (min-width: 588px) {
      footer .copyright-info {
        font-size: .7rem; } }
  footer .footer-nav {
    width: 98%;
    list-style-type: none;
    padding-left: .5rem;
    font-size: .8rem; }
    footer .footer-nav ul {
      width: 98%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      @media screen and (min-width: 635px) {
        footer .footer-nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-flow: column wrap;
                  flex-flow: column wrap;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          height: 10rem; } }
      footer .footer-nav ul li {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin: 0 0 0 1rem;
        color: #E0E1FF; }
        footer .footer-nav ul li:hover {
          color: #ceb36c; }
        footer .footer-nav ul li a {
          text-decoration: none;
          font-size: .8rem;
          border: none; }
          footer .footer-nav ul li a:hover {
            color: #ceb36c; }
  footer .universities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 375px) {
      footer .universities {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    footer .universities a img {
      border-radius: 3px;
      margin: 1rem; }

/*# sourceMappingURL=styles.css.map */